:root {
  --main-black: #000000;
  --main-gray: #666666;
  --main-white: #fff;
  --main-orange: #ff5e00;
  --font-xs: .8em;
  --font-m: 1.1em;
  --font-l: 2.1em;
  --font-xl: 9.7em;
}

/* font-family: 'Cormorant Garamond', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Teko', sans-serif; */