body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--main-gray);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--main-orange);
    outline: 1px solid var(--main-orange);
    border-radius: 100px;
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.070) 0px 3px 3px 0px;
    position: fixed;
    z-index: 100;
    mix-blend-mode: difference;
}

header #container-nav {
    width: 100%;
    padding: 0% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #container-nav .logo {
    transition: all 0.250s ease-out;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 59px;
    color: var(--main-white);
    mix-blend-mode: difference;
}

header #container-nav .logo:hover {
    color: var(--main-gray);
}

header #container-nav .nav-desktop {
    width: auto;
    display: flex;
    justify-content: flex-end;
}

header #container-nav .nav-desktop ul {
    max-width: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

header #container-nav .nav-desktop ul li {
    text-align: right;
    /* height: 25px; */
}

header #container-nav .nav-desktop ul li.link {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.nav-desktop_link {
    mix-blend-mode: difference;
    display: inline-block;
    position: relative;
    padding: 0 0 4px 0;
    color: var(--main-white);
    font-weight: bold;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: 2px;
}

main {
    scroll-behavior: smooth;
}

.nav-desktop_link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--main-orange);
    transform-origin: bottom right;
    transition: transform 0.250s ease-out;
    border-radius: 10px;
}

.nav-desktop_link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header #container-nav .nav-mobile {
    display: none;
}

header #container-nav .nav-mobile .nav-mobile_link {
    display: inline-block;
    position: relative;
    padding: 0 0 4px 0;
    color: var(--main-white);
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 2px;
    mix-blend-mode: normal;
}

header #container-nav .nav-mobile .nav-mobile_link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--main-orange);
    transform-origin: bottom right;
    transition: transform 0.250s ease-out;
    border-radius: 10px;
}

header #container-nav .nav-mobile .nav-mobile_link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* MENU BURGER */

header #container-nav .burger {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    float: right;
}

header #container-nav .burger span {
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: var(--main-white);
    top: 50%;
    transform: translateY(-50%);
    transition: all .250s ease-in-out;
}

header #container-nav .burger span::before, header #container-nav .burger span::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--main-white);
    transition: all .250s ease-in-out;
}

header #container-nav .burger:hover span, header #container-nav .burger:hover span::before, header #container-nav .burger:hover span::after {
    background-color: var(--main-gray);
}

header #container-nav .burger:hover span::before {
    width: 35%;
}

header #container-nav .burger:hover span::after {
    width: 60%;
}

header #container-nav .burger span::before {
    margin-top: -8px;
    width: 60%;
}

header #container-nav .burger span::after {
    margin-top: 8px;
    width: 35%;
}

header #container-nav .burger.active span {
    background: transparent;
}

header #container-nav .burger.active span::before {
    transform: rotate(135deg);
    margin-top: 0;
    width: 100%;
}

header #container-nav .burger.active span::after {
    transform: rotate(-315deg);
    margin-top: 0;
    width: 100%;
}

header #container-nav {
    position: relative;
}

header #container-nav .burger {
    display: none;
}

header #container-nav .nav-mobile {
    display: flex;
    position: relative;
}

header #container-nav .nav-mobile {
    width: 0px;
    position: absolute;
    height: 60px;
    overflow: hidden;
    top: -1%;
    right: 10%;
    flex-direction: column;
    align-items: center;
    background: transparent;
    transition: width .500s;
    z-index: 100;
    border-radius: 10px;
}

header #container-nav .nav-mobile ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header #container-nav .nav-mobile ul li {
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #container-nav .nav-mobile ul li .nav-mobile_link {
    display: inline-block;
    position: relative;
    padding: 0 0 4px 0;
    color: var(--main-white);
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 2px;
    mix-blend-mode: normal;
}

header #container-nav .nav-mobile ul li .nav-mobile_link:hover {
    color: var(--main-orange);
}

header #container-nav .nav-mobile.active {
    width: 300px;
}

header #container-nav .nav-mobile .nav-mobile_link::before {
    visibility: hidden;
}

.social-icons {
    position: fixed;
    z-index: 100;
    height: 180px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 7%;
    left: 7%;
    mix-blend-mode: difference;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons i {
    color: var(--main-white);
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    transition: all .250s ease-in-out;
}

.icons:hover i {
    color: var(--main-orange);
    transform: rotate(0deg);
}

.wrap {
    min-height: 100vh;
    padding: 0 7%;
}

#banner {
    width: 100%;
    height: 80vh;
    padding: 10vh 0;
}

.container-banner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.container-banner_img {
    width: 100%;
    height: 100%;
    position: absolute;
    background: center / contain no-repeat url('../images/quentin.jpg');
    mix-blend-mode: difference;
}

.container-banner_text_cta {
    position: relative;
    color: var(--main-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.container-banner_text_cta p.dev {
    font-size: var(--font-xl);
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--main-gray);
    mix-blend-mode: difference;
}

.container-banner_text_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    perspective: 25px;
    mix-blend-mode: difference;
}

.container-banner_text_title .desc {
    font-size: var(--font-l);
    text-align: right;
    /* font-family: 'Playfair Display', serif; */
    font-style: normal;
    font-weight: normal;
    line-height: 48px;
    text-align: right;
    letter-spacing: 0.02em;
    width: 70%;
}

#web {
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .container-banner_text_title p, .container-banner_text_title h1 {
    text-align: right;
} */

.container-banner_text_title p.c-orange {
    font-size: var(--font-xl);
    text-transform: uppercase;
    mix-blend-mode: difference;
}

.container-banner_text_title h1 {
    width: 100%;
    line-height: var(--font-l);
    mix-blend-mode: difference;
    margin-right: 20px;
}

.container-banner_cta_title p {
    font-size: var(--font-xl);
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--main-gray);
    /* mix-blend-mode: difference; */
}

.container-banner_cta_title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.container-banner_cta_title a {
    background-color: transparent;
    color: var(--main-white);
    padding: 15px 40px;
    border: 1px solid var(--main-white);
    border-radius: 10px;
    font-size: var(--font-sm);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all .250s ease-in;
}

.container-banner_cta_title a:hover {
    border-color: var(--main-orange);
    color: var(--main-orange);
}

/* .distortion {
    width: 580px;
    height: 720px;
    position: absolute;
    right: 300px;
    bottom: 0;
} */

#about {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.infinite_text {
    position: absolute;
    font-size: var(--font-xl);
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--main-gray);
    white-space: nowrap;
    display: inline-block;
}

.infinite_text.top {
    top: 0;
}

.infinite_text.bottom {
    bottom: 0;
}

.about-content {
    width: 72%;
}

.about-content_p {
    color: var(--main-white);
    font-size: var(--font-m);
    font-weight: normal;
    line-height: 29px;
    letter-spacing: 0.02em;
}

#projects {
    width: 100%;
    min-height: 80vh;
    padding: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects ul {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects ul li {
    width: 100%;
}

#projects ul li a {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-gray);
    background: top / cover no-repeat url('../images/lajolieagence.png');
    transition: all .250s ease-in;
}

#projects ul li a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-120deg, #000, #000);
    opacity: 1;
    z-index: 1;
    transition: all .250s ease-in;
}

#projects ul li a>* {
    z-index: 100;
}

#projects ul li a:hover::after {
    opacity: .7;
}

.project-title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--main-gray);
    font-family: 'Cormorant Garamond', serif;
}

.project-desc {
    color: var(--main-white);
    font-size: var(--font-m);
    font-weight: normal;
    line-height: 29px;
    letter-spacing: 0.02em;
}

/* ─── RESPONSIVE ────────────────────────────────────────── */

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    /* header {
        height: 50px;
    }
    header #container-nav {
        position: relative;
    }
    header #container-nav .nav-desktop {
        display: none;
    } */
    header #container-nav .burger {
        display: block;
    }
    /*
    header #container-nav .nav-mobile {
        display: flex;
        position: relative;
    }
    header #container-nav .nav-mobile {
        width: 210px;
        position: absolute;
        max-height: 0;
        overflow: hidden;
        top: 50px;
        right: 0;
        flex-direction: column;
        align-items: center;
        background: transparent;
        box-shadow: rgba(0, 0, 0, 0.070) 0px 3px 3px 0px;
        transition: max-height .500s;
        z-index: 100;
        border-radius: 10px;
    }
    header #container-nav .nav-mobile ul {
        margin: 20px;
    }
    header #container-nav .nav-mobile ul li {
        text-align: center;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header #container-nav .nav-mobile ul li .nav-mobile_link {
        display: inline-block;
        position: relative;
        padding: 0 0 4px 0;
        color: var(--main-white);
        font-weight: bold;
        text-transform: uppercase;
        font-size: .7em;
        letter-spacing: 2px;
        mix-blend-mode: normal;
    }
    header #container-nav .nav-mobile.active {
        max-height: 500px;
    }
    header #container-nav .nav-mobile .nav-mobile_link::before, header #container-nav .nav-mobile .nav-mobile_link:hover::before {
        visibility: hidden;
    } */
}

@media screen and (max-width: 480px) {}